.recipe-card {
    display: inline-block;
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.5rem;
    /* max-width: 50%; */
    /* margin: 20px 20px 0px 0px; */
}

@media screen and (min-width: 501px) {
    .recipe-card {
        width: 47%;
        margin-right: 1%;
        margin-left: 1%;
        margin-bottom: 22px;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 670px) {
    .recipe-card {
        /* width: 320px; */
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 725px) {
    .recipe-card {
        width: 320px;
        /* font-size: 1.5rem; */
    }
}