td, th {
    text-align: left;
    vertical-align: baseline;
}

hr {
    border: 1px solid black;
}

.table td {
    vertical-align: baseline;
}

.jumbotron {
    text-align: left;
}

.card-header {
    text-align: center;
}

.table {
    width: -webkit-fill-available;
}

.number-spinner {
    width: 60px;
    letter-spacing: 1.5px;
    padding-left: 5px;
}

#add-ingredient-button {
    margin-bottom: 15px;
    margin-left: 20px;
}