{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Recipe Chi</h1>
    <hr class="my-4">
    <div id='contents'>
        <div class="card border-success" id="text-card">
            <div class="card-body">
                <p id="text-head">Recipe Chi was built by Chris 'Chi' Gantt. I'm a Software Developer, a home chef and an adventurous eater.</p>
                <hr class="my-4">
                <p class="card-text">
                    The mission of Recipe Chi is two-fold: <br>
                    <ul>
                        <li>
                            First and foremost, I built Recipe Chi for my family.
                            We meal plan, and that process can take forever. 
                            With Recipe Chi we have a place to store all of the recipes we use and with the Grocery Planning feature, 
                            we can choose what meals we want for the coming weeks and know instantly what ingredients to shop for.
                        </li>
                        <br>
                        <li>
                            Secondly, reading recipes can be a challenging process.
                            I have designed a way to present recipes that is just easier to understand when cooking. 
                            Each step is labeled with a simple action (Chop or Saute) and the quantities of ingredients needed for that step are right there.
                            No more will I or you need to scroll up and down through a recipe to decipher what exactly the next step is.
                        </li>
                    </ul>
                    <hr class="my-4">
                    I hope that our favorite recipes will bring your belly joy, and that making those meals can be that much easier with Recipe Chi.
                </p>
            </div>
        </div>
        <div class="card border-info" id='image-card'>
            <div class="card-header">My Family</div>
            <div class="card-body">
                <img id="about-image" src="{% static 'images/Family.jpg' %}">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
