{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/recipes/recipes-detail.css' %}">
{% endblock css %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">{{ object.name }}</h1>
    <p class="lead">Cook Time: {{ object.cook_time_in_minutes }} minutes</p>
    <p>Makes {{ object.portion_number }} servings</p>
    <hr class="my-4">
    <div id='image-ingredients-container'>
        <img id="detail-photo" src="{{ object.photo.url }}">

        <div class="card border-primary mb-3" id='ingredients-card'>
            <div class="card-header">All Ingredients</div>
            <div class="card-body">
                <p id='ingredients'>
                    Basmati rice<br>
                    Russet Potato<br>
                    Ginger<br>
                    Carrot<br>
                    Peas<br>
                    Spinach<br>
                    Coconut Milk<br>
                    Curry Powder<br>
                    Pineapple<br>
                    Sugar<br>
                    Salt<br>
                    Black Pepper
                </p>
            </div>
        </div>
    </div>    
    <div class="card border-primary mb-3" id='instructions-card'>
        <div class="card-header">INSTRUCTIONS</div>
        <div class="card-body" id='instructions'>
            {{ object.instructions |safe }}
        </div>
    </div>
        
    
</div>
{% endblock content %}