{% extends 'base.html' %}
{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/recipes/recipes-list.css' %}">
{% endblock css %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Recipes</h1>
    <hr class="my-4">
    {% for meal in meal_list %}
        {% if meal.instructions %}
            <a href="{% url 'recipe-detail' meal.pk %}">   
                <div class="card border-primary recipe-card">
                    <div class="card-header">{{ meal.name }}</div>
                    <div class="card-body">
                            <img id='meal-image' src="{{ meal.photo.url }}">
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
    <hr class="my-4">
    <h2>Instruction-less Recipes</h2>
    <p style="margin-bottom: 20px;">We'll tell you the ingredients but you have to figure out how to make it. 😆😈</p>
    {% for meal in meal_list %}
        {% if not meal.instructions %}
            <a href="{% url 'recipe-detail-simple' meal.pk %}">  
                <div class="card border-primary instructionless-recipe-card">
                    <div class="card-body">{{ meal.name }}</div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}