{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/grocery-planner/gp1-meal-choice.css' %}">
<link rel="stylesheet" href="{% static 'css/grocery-planner/gp2-ingredient-list.css' %}">

{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="jumbotron">
        <div class="card text-white bg-info mb-3 mx-auto" id='page-title'>
            <h1 class="card-header">Ingredients</h1>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="color: #dc3545;">Remove</th>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient, measurements in ingredients.items %}
                    {% for measurement, quantity in measurements.items %}
                        <tr>
                            <td><button type="button" class="btn btn-outline-danger">-</button></td>
                            <td scope="row" class='meal-name-column' >{{ ingredient }}</td>
                            <td>
                                <input type="number" value="{{ quantity }}" min=0 step="any" class='number-spinner'>
                                {{ measurement }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer id="checkout-footer">
        <div class="card border-success" id="footer-card">
            <div class="card-body">
                <button type="submit" class="btn btn-info" id='checkout-button'>Checkout</button>
            </div>
        </div>
    </footer>
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p class="mb-0">{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}

{% block footer %} {% endblock footer %}